@color: #ddd;

@base: #270044;
// @base: green;
@base-dark: darken(@base, 10%);
@base-light: lighten(@base, 10%);

@accent: darken(yellow, 10%);
@accent2: greenyellow;

@link: #09f;
@link-visited: darken(@color, 30%);
@link-hover: lighten(@accent, 10%);

@font-family: sans-serif;
@background-color: @base-dark;

@border: 1px solid darken(@accent2, 40%);
