@bg: #270044;
@bg-dark: darken(@bg, 10%);
@bg-light: lighten(@bg, 10%);

@accent: darken(yellow, 10%);

@link: #09f;
@link-visited: grey;
@link-hover: lighten(@accent, 10%);

@color: #ddd;
@font-family: sans-serif;
@background-color: @bg-dark;

.hover {
  &:hover, &:active {
    color: @link-hover;
  }
}

a {
  text-decoration: none;

  &:link {
    color: @link;
  }

  &:visited {
    color: @link-visited;
  }

  .hover;
}

.subtle-link {
  &:link, &:visited {
    color: @color;
  }

  .hover;
}

.amnesia-link {
  &:visited {
    color: @link;
  }

  .hover;
}