.hover:hover,
.hover:active {
  color: #ffff00;
}
a {
  text-decoration: none;
}
a:link {
  color: #09f;
}
a:visited {
  color: grey;
}
a:hover,
a:active {
  color: #ffff00;
}
.subtle-link:link,
.subtle-link:visited {
  color: #ddd;
}
.subtle-link:hover,
.subtle-link:active {
  color: #ffff00;
}
.amnesia-link:visited {
  color: #09f;
}
.amnesia-link:hover,
.amnesia-link:active {
  color: #ffff00;
}
#header {
  background-color: #270044;
  padding: 0.5em 1em;
  margin: 0;
  text-align: right;
}
#header a:visited {
  color: #09f;
}
#header a:hover,
#header a:active {
  color: #ffff00;
}
#header a:link,
#header a:visited {
  color: #ddd;
}
#header a:hover,
#header a:active {
  color: #ffff00;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navigation li {
  flex: 1;
  text-align: center;
  border: 1px solid #333;
  border-right: none;
  height: 3em;
}
.navigation li:nth-of-type(1) {
  border-left: none;
}
.navigation li a {
  display: block;
  height: 3em;
  line-height: 3em;
}
.navigation li a:visited {
  color: #09f;
}
.navigation li a:hover,
.navigation li a:active {
  color: #ffff00;
}
.navigation li a:hover {
  cursor: pointer;
  background-color: #270044;
}
.page {
  padding: 1em;
  line-height: 2em;
  display: flex;
}
#footer {
  background-color: #440077;
  padding: 0.3em 0.5em;
  text-align: right;
  font-size: 0.6em;
}
#reergymerej {
  display: flex;
  flex-direction: column;
  height: inherit;
}
#reergymerej #header {
  flex: 0 0 auto;
}
#reergymerej .page {
  flex: 1 0 auto;
}
#reergymerej #footer {
  flex: 0 0 auto;
}
html {
  height: 100%;
}
body {
  background-color: #0a0011;
  color: #ddd;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  letter-spacing: 0.1em;
}
body #content,
body #reergymerej {
  height: 100%;
}
