#header {
  background-color: #270044;
  padding: 1em;
  margin: 0;
  text-align: right;
}
#page {
  padding: 1em;
  line-height: 2em;
}
#footer {
  background-color: #440077;
  padding: 0.3em 0.5em;
  text-align: right;
  font-size: 0.8em;
}
#layout {
  display: flex;
  flex-direction: column;
  height: inherit;
}
#layout #header {
  flex: 0 0 auto;
}
#layout #page {
  flex: 1 0 auto;
}
#layout #footer {
  flex: 0 0 auto;
}
html {
  height: 100%;
}
body {
  background-color: #0a0011;
  color: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  letter-spacing: 0.1em;
}
body #content {
  height: 100%;
}
