a {
  text-decoration: none;
}
a:link {
  color: #005c99;
}
a:visited {
  color: #002e4d;
}
a:hover,
a:active {
  color: #cccc00;
}
#header {
  background-color: #270044;
  padding: 0.5em 1em;
  margin: 0;
  text-align: right;
}
#navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
#navigation li {
  padding: 1em;
}
#page {
  padding: 1em 5em;
  line-height: 2em;
  display: flex;
}
#footer {
  background-color: #440077;
  padding: 0.3em 0.5em;
  text-align: right;
  font-size: 0.6em;
}
#layout {
  display: flex;
  flex-direction: column;
  height: inherit;
}
#layout #header {
  flex: 0 0 auto;
}
#layout #page {
  flex: 1 0 auto;
}
#layout #footer {
  flex: 0 0 auto;
}
html {
  height: 100%;
}
body {
  background-color: #0a0011;
  color: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  letter-spacing: 0.1em;
}
body #content {
  height: 100%;
}
